<div class="container" margin="text-align: center;">
    <table style="margin: auto;">
        <td>
            <img src="/images/harvard.jpg" alt="404" class="mt-5" style="margin: 0 auto; max-width:150px; ">
        </td>
        <td style="vertical-align:bottom;">
            <h1 class="text-center mt-1" style="display:inline;">404</h1>
        </td>
    </table>
    <h3 class="text-center mt-3 font-weight-light">We're sorry, we could not find the page you requested. Please click
        <a href="/">here</a> to return back home.</h3>
</div>