<div class="container" margin="text-align: center;">
    <table style="margin: auto;">
        <td>
            <img src="https://i.imgur.com/i5UyTL3.png" alt="500" class="mt-5" style="margin: 0 auto; max-width:150px; ">
        </td>
        <td style="vertical-align:bottom;">
            <h1 class="text-center mt-1" style="display:inline;">404</h1>
        </td>
    </table>
    <h3 class="text-center mt-3 font-weight-light">Unfortunately, our servers messed up. Please forgive them, they are still learning. Please click <a href="/">here</a> to return back home.</h3>
</div>