<div>
    <h1 class="text-center mt-5">500</h2>
    <h3 class="text-center mt-3 font-weight-light">Unfortunately, our servers messed up. Please forgive them, they are still learning. Please click <a href="/">here</a> to return back home.</h3>
</div>