<div class="container mt-3">
    <form action="/addschool" method="post">
        Name:
        <input class="form-control" type="text" name="name" required>
        <br> Location:
        <input class="form-control" type="text" name="location" required>
        <br> Description:
        <textarea class="form-control" type="text" name="desc" required></textarea>
        <br> Website:
        <input class="form-control" type="url" name="website" required>
        <br> URL to header image:
        <input class="form-control" type="url" name="imgURL" required>
        <br> Short name for url:
        <input class="form-control" type="text" name="pathname" required>
        <br>
        <input type="submit" class="btn btn-primary">
    </form>
</div>