<div class="container mt-5 pl-4">
    <h1>Find your dream school...</h1>
    <h4 class="font-weight-normal">Connect
        <span class="font-weight-bold">directly</span> with current student ambassadors and representatives. Learn more about schools through student and
        representative posts.</h4>
</div>