<div class="container mt-5 pl-4">
    <h1>Find your dream school...</h1>
    <h4 class="font-weight-normal">Connect
        <span class="font-weight-bold">directly</span> with current student ambassadors and representatives. Learn more about schools through student and
        representative posts.</h4>
</div>
<div class="container mt-3">
    <div class="list-group">
        {{#each schools}}
        <a href="/school/{{this.path}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{this.name}}</h5>
                <small>{{this.location}}</small>
            </div>
            <p class="mb-1">{{this.desc}}</p>
        </a>
        {{/each}}
    </div>
</div>