<div class="container mt-5 pl-4">
    <h1 class="text-center">My
        <span class="font-weight-bold">Representative</span> Account</h1>
    <br>
    <h2>Write Post</h2>
    <form>
        Title:
        <input class="form-control" type="text" name="Title">
        <br> Post:
        <textarea class="form-control" name="content"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <br>
    <h2>Approve Posts</h2>
    <div class="jumbotron">
        <h3>Title</h3>
        <h4>Author</h4>
        <p>Post content here.</p>
    </div>
    <form>
        <button type="submit" class="btn btn-primary">Approve</button>
    </form>
    <br>
    <h2>Profile &amp; Settings</h2>
    <form class="form">
        Name:
        <input class="form-control" type="text" name="Name" value="John Doe">
        <br> Role/title:
        <input class="form-control" type="text" name="Role" value="Admissions Representative">
        <br> Major:
        <input class="form-control" name="major" type="text" value="computer science">
        <br> Bio:
        <textarea class="form-control" name="Bio"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>