<div class="container mt-5 pl-4">
    <h1 class="text-center">My
        <span class="font-weight-bold">Student</span> Account</h1>
    <br>
    <h2>Schools</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">School</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Stanford</th>
                <td>Palo Alto, California</td>
            </tr>
            <tr>
                <th scope="row">Harvard</th>
                <td>Cambridge, Massachusetts</td>
            </tr>
            <tr>
                <th scope="row">Yale</th>
                <td>New Haven, Connecticut</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>Profile &amp; Settings</h2>
    <form class="form">
        Name:
        <input class="form-control" type="text" name="Name" value="John Doe">
        <br> Current year in High School:
        <input class="form-control" name="HSYear" type="text" value="Junior">
        <br> High School:
        <input class="form-control" type="text" name="HighSchool" value="North Shore High School">
        <br> Expected year of admission:
        <input class="form-control" name="admissionYear" type="text" value="2019">
        <br> Email:
        <input class="form-control" type="email" value="johndoe@gmail.com" name="Email">
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>