<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">

        </div>
    </div>
    <h1>Stanford University</h1>
    <h3>Palo Alto, California</h3>
    <img style="width: 100%; height: 200px; object-fit: cover;" src="http://ibankcoin.com/zeropointnow/files/2018/03/100917787-Stanford_Oval_May_2011_panorama_r.jpg"
        alt="Stanford University">
    <br>
    <br>
    <p>Stanford University is one of the world's leading teaching and research universities. Since its opening in 1891, Stanford
        has been dedicated to finding solutions to big challenges and to preparing students for leadership in a complex world.</p>
    <hr>
</div>
<div class="container">
    <div class="jumbotron">
        <h3>Blog post title</h3>
        <h4>Author</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="jumbotron">
        <h3>Blog post title</h3>
        <h4>Author</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>