<div class="container mt-5 pl-4">
    <h1 class="text-center"> Create My
        <span class="font-weight-bold">Representative</span> Account</h1>
    <br>
    <h2>Sign Up</h2>
    <form class="form" method="post" action="/addrep">
        Name:
        <input class="form-control" type="text" name="Name">
        <br> Role/title:
        <input class="form-control" type="text" name="Role">
        <br> Email:
        <input class="form-control" name="Email" type="email">
        <br> Bio:
        <textarea class="form-control" name="Bio"></textarea>
        <br> Username:
        <input class="form-control" type="text" name="Username">
        <br> Password:
        <input class="form-control" type="password" name="Password">
        <br>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>