<div class="container mt-5 pl-4">
    <h1 class="text-center"> Create My
        <span class="font-weight-bold">Student</span> Account</h1>
    <br>
    <h2>Sign Up</h2>
    <form class="form" name="form" onsubmit="return userValidate()" action="/addstudent" method="post">
        Name:
        <input class="form-control" type="text" name="Name">
        <br> Current year in High School:
        <input class="form-control" name="HSYear" type="text">
        <br> High School:
        <input class="form-control" type="text" name="HighSchool">
        <br> Expected year of admission:
        <input class="form-control" name="admissionYear" type="text">
        <br> Email:
        <input class="form-control" type="email" name="Email">
        <br> Username:
        <input class="form-control" type="text" name="Username">
        <br> Password:
        <input class="form-control" type="password" name="Password">
        <br>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>