<div class="container mt-5 pl-4">
    <h1 class="text-center"> Create My
        <span class="font-weight-bold">Student</span> Account</h1>
    <br>
    <h2>Sign Up</h2>
    <form class="form">
        Name:
        <input class="form-control" type="text" name="Name" value="John Doe">
        <br> Current year in High School:
        <input class="form-control" name="HSYear" type="text" value="Junior">
        <br> High School:
        <input class="form-control" type="text" name="HighSchool" value="North Shore High School">
        <br> Expected year of admission:
        <input class="form-control" name="admissionYear" type="text" value="2019">
        <br> Email:
        <input class="form-control" type="email" value="johndoe@gmail.com" name="Email">
        <br> Username:
        <input class="form-control" type="text" value="johndoe22" name="Username">
        <br> Password:
        <input class="form-control" type="password" name="Password">
        <br>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>