<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" action="/authenticateuser" method="post">
                    <label for="username" class="mr-sm-2">Username:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="username" name="username" required>
                    <label for="pwd" class="mr-sm-2">Password:</label>
                    <input type="password" class="form-control mb-2 mr-sm-2" id="pass" name="pass">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container text-center launch mt-5">
    <h2>I am a...</h2>
    <a class="btn btn-lg btn-primary d-block mt-2 btn-signup" style="margin:auto; width: 200px;" href="/signup/student">Student</a>
    <a class="btn btn-lg btn-primary d-block mt-2 btn-signup" style="margin:auto; width: 200px;" href="/signup/ambassador">Ambassador</a>
    <a class="btn btn-lg btn-primary d-block mt-2 btn-signup" style="margin:auto; width: 200px;" href="/signup/rep">School Rep</a>
    <p class="mt-5">If you already have an account,
        <a class="badge badge-pill badge-secondary text-white" href="#" data-toggle="modal" data-target="#exampleModal">Login</a>
    </p>
</div>